@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{

    /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

    .f-poppins{
        font-family: 'Poppins', sans-serif !important;
    }

    .f-tilt-neon{
        font-family: 'Tilt Neon', sans-serif !important;
    }

    .f-bebas-neue{
        font-family: 'Bebas Neue', sans-serif !important;
    }

    .f-teko{
        font-family: 'Teko', sans-serif !important;
    }

    .bg0{
        background: linear-gradient(to right,#10192a,#1c2e4f);
    }

    .bg1{
        background: linear-gradient(to right,#141e30,#243b55);
    }

    .bg2{
        background: linear-gradient(to right,#1a2980,#26d0ce);
    }

    .bg3{
        background: linear-gradient(to right,#00d2ff,#3a7bd5);
    }

    .bg4{
        background: linear-gradient(to right, #0f0c29, #262351, #0f0c29);
    }

    .bg5{
        background: linear-gradient(to right,#14213c,#182845);
    }

    ::-webkit-scrollbar{
        display: none;
    }

    #bg-ball-b{
        box-shadow: 0 0 65px 25px rgba(0, 187, 255, 0.55);
    }

    .textshadow{
        text-shadow: 2px 1.5px rgba(0,0,0,0.25) !important;
    }

    .fadein{
        animation:myani 0.5s ease-out forwards;
    }

    @keyframes myani {
        from{
            opacity: 0.1;
            transform: translateY(100%) scaleY(0.6);
        }
        to{
            opacity: 1;
            transform: translateY(0%) scaleY(1);
        }
    }

}